
{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
    <h1>Mentions Légales</h1>
    <p>Voici les mentions légales de notre blog. Elles expliquent comment nous collectons, utilisons et protégeons vos informations personnelles...</p>
    <ul>
        <li>Nom de l'entreprise : MonBlog Inc.</li>
        <li>Adresse : 3 Avenue Voltaire, Orléans, France</li>
        <li>Email : meyapiiii@monblog.com</li>
    </ul>
{% endblock %}