
{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité{% endblock %}

{% block body %}
    <h1>Politique de Confidentialité</h1>
    <p>Voici la politique de confidentialité de notre blog. Nous nous engageons à respecter votre vie privée et à protéger vos données personnelles...</p>
    <ul>
        <li>Nous ne partageons pas vos informations avec des tiers.</li>
        <li>Nous collectons uniquement les informations nécessaires pour traiter votre demande.</li>
    </ul>
{% endblock %}