{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>Contactez-nous</h1>
    <p>Vous pouvez nous contacter à travers ce formulaire (ajoutez un formulaire si nécessaire).</p>
{% endblock %}